[Unit]
Description=Self-hosted app

[Container]
ContainerName=systemd-app-%i
Image={{ app_docker_image }}
Network=web.network:alias=app
Network=infra.network
Pull=never

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
