{% if web_domain is defined %}

{{ web_domain }} {
    reverse_proxy * app:3000
}

{% endif %}

{% if registry_domain is defined %}

{{ registry_domain }} {
    basic_auth {
		dev {{ result_registry_password_hash.stdout }}
	}
    reverse_proxy * registry:5000
}

{% endif %}
