[Unit]
Description=Local Docker registry

[Container]
Image={{ ver_registry_image }}
Volume=/srv/volumes/registry-data:/var/lib/registry
Network=web.network:alias=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
