[Unit]
Description=Self-hosted app
PartOf=vpslite-app.target

[Container]
ContainerName=vpslite-app-%i
Image={{ app_docker_image }}
Network=web.network:alias=app
Network=infra.network
Pull=never

[Service]
Restart=always
