[Unit]
Description=Caddy HTTP server and reverse proxy

[Container]
ContainerName=vpslite-caddy
Image={{ ver_caddy_image }}
Volume=/srv/volumes/caddy-data:/data
Volume=/srv/volumes/caddy-config/Caddyfile:/etc/caddy/Caddyfile
Network=web.network:alias=caddy
PublishPort=80:80
PublishPort=443:443
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
